<div class="container">
    <div class="text-center mt-5">
        <h1>{{ title }}</h1>
        <h2 class="text-muted"> 28 días aprendiendo <span class="text-danger">Angular</span></h2>
    </div>
    <div class="row mt-5">

        <div class="col-md-8">
            <ul class="list-group cursor">
                <li *ngFor="let ciudad of ciudades" (click)="seleccionarCiudad(ciudad.nombre)" class="list-group-item" [ngClass]="{'active': ciudad.nombre === ciudadSeleccionada}" >{{ ciudad.nombre }}</li>
            </ul>
        </div>
    
        <div class="col-md-4">
           <h4>Su ciudad seleccionada es:</h4>
           <p *ngIf="!ciudadSeleccionada" class="display-4 text-muted">Sin seleccionar</p>
           <p class="display-4 text-primary">{{ ciudadSeleccionada }}</p>
            <div *ngIf="ciudadSeleccionada" class="d-grid gap-2">
                <button (click)="limpiarCiudadSeleccionada()" class="btn btn-danger btn-block">Limpiar</button>
            </div>
        </div>

    </div>
</div>