/* .btn {
    background-color: #5DADE2;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
} */

button {
    color: #ffffff;
    cursor: pointer;
}